@each $key,$val in $theme-colors {
    .icon-#{$key} {
        color: $val;
    }
}
.xkl-icon {
    transition: transform 0.3s ease-in-out;
    &:hover {
        // 鼠标放上去的时候旋转180度
        transform: rotate(180deg);
    }
}

